body {
	font-family: Arial, Helvetica, sans-serif;
}

td {
	font: Arial;
	font-size: 10pt;
	color: #000000;
	text-align: left;	
	font-weight: bold;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.login {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.but_log {
	background-color: #666666;
	border-bottom-color:#666666;
	border-color:#666666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight: bold;
	width:109px;
}
	
.buttonClass {
	border: 2px solid #808080;
	background: #FFF9E0;
	padding: 16px 8px;
	text-align: center;
	font-size: 14px !important;
#	font-weight: bold;
}

.buttonClass:hover {
	background: #F9F9E0;
}

.buttonClass:active {
	background: #A9A990;
}
